{% comment %}
Esercizio (Prova tu!) sul calcolo della velocità finale sotto accelerazione costante. Nessun parametro.
{% endcomment %}
<div class="iex-widget" id="iexAccel1">
<p class="iex-lbl">Prova tu!</p>
<p class="iex-qt">Una sonda si trova in un punto dello spazio dove il campo gravitazionale ha modulo $g = 3\ \text{m/s}^2$. Se resta soggetta a questa accelerazione per $4\ \text s$, partendo da ferma, quanto vale la sua velocità finale?</p>
{% include num.html id="numAccel1" valore="12" unit="m/s" %}
</div>
