{% comment %}
Esercizio a carosello: isola le grandezze nella formula P = F·v, usando
invert.html. Nessun parametro.
{% endcomment %}
<div class="iex-widget" id="invCarPotenzaFv">
<p class="iex-lbl">Isola le altre grandezze</p>
<p class="iex-hint">Cerca la sequenza più breve di mosse, poi appuntala sul quaderno.</p>
<div class="iex-topnav">
<button class="iex-navbtn" id="invCarPotenzaFvprev" onclick="invCarPotenzaFvnav(-1)" disabled>&larr; Prec.</button>
<div class="iex-dots" id="invCarPotenzaFvdots"></div>
<button class="iex-navbtn" id="invCarPotenzaFvnext" onclick="invCarPotenzaFvnav(1)">Succ. &rarr;</button>
</div>

<div class="iex-q" id="invCarPotenzaFvrow0">
<div class="iex-nested">
{% include invert.html id="inv-pot-fv-F" variabili="P|F|v" sinistra="P" destra="F*v" obiettivo="F" %}
</div>
</div>

<div class="iex-q" id="invCarPotenzaFvrow1" style="display:none">
<div class="iex-nested">
{% include invert.html id="inv-pot-fv-v" variabili="P|F|v" sinistra="P" destra="F*v" obiettivo="v" %}
</div>
</div>

</div>

<script>
setupInvCarousel('invCarPotenzaFv',2);
</script>
